body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F8FAFC;
}
:root{
    --radious: 5px;
    --opacity: 1;
}
        /* All body css */
#content{
    width: 80rem;
    /* height: 1200px; */
    margin-left: 130px;
    margin-right: 130px;
    background-color: #F8FAFC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   display: grid;
    /* grid-template-columns: auto;
    grid-template-rows: 130px 420px; */
}
#navbar{
   background-color: #F8FAFC;

}
         /* Navbaar heading */
.First-heading{
    color: #8500FE;
    text-shadow: 2px 0px 2px grey;
    
    
}
.Second-heading{
      position: relative;
      bottom: 3.2rem;
      left: 4.8rem;
      text-shadow: 2px 0px 2px grey;
}
#header{
    background-image: url(image/eggs.jpg);
    background-size: cover;
    border-radius: 5px;
}
.background{
    background-color: black;
    height: 418px;
    width: 1250;
    opacity: .5;
    border-radius: 5px;
}
#mainu{
    display: flex;
    position: absolute;
    left: 19rem;
    top: 1rem;
    list-style: none;
    font-size: 17px;
    font-weight: bold;
}
.nav{
    color: rgb(121, 119, 119);
    text-decoration: none;
    margin-right: 20px;
}


#button{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 100px;
}
 
.nav-btn{
     width: 100px;
     padding: 8px 26px;
     background-color: blue;
     color: white;
     border-radius: 3px;
     border: none;
     font-weight: bold;
     letter-spacing: 1px;
     
}
  
.heading-div{
    display: flex;
    justify-content: center;
    color: white;
}
.second-heading{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10rem;
    font-size: 80px;
    font-weight: normal;
}
.sub-heading{
    position: absolute;
    top: 20rem;
    font-size: 25px;
    color: #F9FBFE;
    letter-spacing: 3px;
}

#menu-section{
    display: grid;
    height: 400px;
    grid-template-columns: 200px 338px 338px 338px;
    grid-template-rows: 200px;
    grid-gap: 15px;
    position: relative;
    top: 30px;
    background-color: #F8FAFC;
}
.menu-bar1{
    border-radius: var(--radious);
}

.menu-bar2{
    background-color: aqua;
    border-radius: var(--radious);
    background-image: url(image/paalak.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-bar3{
    background-color: burlywood;
    border-radius: var(--radious);
    background-image: url(image/nonveg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-bar4{
    background-color: cornflowerblue;
    border-radius: var(--radious);
    background-image: url(image/soap.jpg);
    background-size: cover;
}
.menu-bar1 p{
    color: gray;
    opacity: var(--opacity);
    font-weight: bold;
}
.menu-bar5{
    background-color: darkorange;
    width: 338px;
    height: 200px;
    display: grid;
    grid-column: 2;
    border-radius: var(--radious);
    background-image: url(image/food.jpg);
    background-size: cover;
    position: relative;
    top: 80px;
}
.details{
    position: relative;
    top: 190px;
}
.para{
    position: relative;
    top: 170px;
    color: gray;
    opacity: var(--opacity);
    font-size: 14px;
    
} 
.details-last{
    position: relative;
    top: 270px;
    right: 350px;
}
.para-last{
    position: relative;
    top: 300px;
    right: 705px;
    color: gray;
}

.footer{
    width: 100%;
    height: 70px;
    background-color: #070C0E;
    margin-top: 260px;
    color: white;
    display: flex;
    justify-content: center;
}
.blue{
    color: #6d11f6;
    font-style: italic;
}

          /* Media Quary for responsive website */

@media only screen and (max-width: 1037px) {
    .second-heading{
        font-size: 60px;
        
    }
}
@media only screen and (max-width: 968px){
    .second-heading{
        font-size: 50px;
        position: absolute;
        top: 200px;

    }
}
@media only screen and (max-width: 942px){
    .second-heading{
        font-size: 40px;
    }
}
@media only screen and (max-width: 922px){
      .sub-heading{
        font-size: 20px;
      }   
}
@media only screen and (max-width: 903px){
    .second-heading{
        font-size: 30px
    }
}
@media only screen and (max-width: 1478px){
    .footer{
        width: 1500px;
    }
}


  
                                 /* About us page css */
  
.about-img{
    margin-left: 40rem;
    border-radius: var(--radious);
}   
.about-heading{
    position: absolute;
    top: 150px;
    font-size: 45px;
    letter-spacing: 2px;
}          
.about-para{
    font-size: 18px;
    position: relative;
    top: -250px;
}    
.about-btn{
    position: relative;
    top: -250px;
    padding: 10px;
}       
.about-secondh{
    position: relative;
    top: -150px;
    text-align: center;
}      
#about-menu{
        display: grid;
        height: 100%;
        grid-template-columns: 415px 415px 415px;
        grid-template-rows: 200px;
        grid-gap: 15px;
        position: relative;
        bottom: 100px;
        background-color: #F8FAFC;
}

.about-footer{
    position: absolute;
    top: 60rem;
}
                     
                          /* Media queary of About us page */

@media only screen and (max-width: 667px){
    .about-heading{
        position: absolute;
        top: 100px;
    }
}
@media only screen and (max-width: 490px) {
    .about-heading{
        font-size: 40px;
        position: absolute;
        top: 150px;
    }
}
@media only screen and (max-width: 453px) {
    .about-heading{
        font-size: 30px;
        position: absolute;
        top: 120px;
    }
}




                                 /* Tags page css */



#tags{
    height: 600px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 100px 100px;
    grid-gap: 20px;
}
.box{
    background-color: #62708B;
    color: white;
    border-radius: var(--radious);
    display: flex;
    justify-content: center;
}
.tag-heading{
    position: relative;
    top: -10px;
    letter-spacing: 1px;
}
.tag-subheading{
    position: relative;
    top: 25px;
    right: 60px;
    letter-spacing: 1px;
    font-size: 18px;
}



@media only screen and (min-width: 2459px){
        #tags{
            grid-template-columns: 200px 200px 200px;
        }
}
@media only screen and (max-width: 359px){
    .tag-btn{
        position: absolute;
        right: 200px;
    }
}
@media only screen and (max-width: 350px){
    #tags{
        grid-template-columns: 400px;
        margin: auto;
    }
    .tag-btn{
        position: absolute;
        left: 700px;
    }
}
@media only screen and (max-width: 248px){
    #tags{
        margin-left: 120px;
    }
    .tag-btn{
        position: absolute;
        left: 500px;
    }
}






                           /* Recipes page css */

            
.recipe-footer{
    margin-top: 500px;
}